
.tab {
    padding: 32px 0;
}

.content__top-right-card {
    grid-template-columns: .308fr .7fr;
}

.card__footer {
    text-align: initial;
}

.content__bot {
    grid-template-columns: 1fr 1fr 1fr;
}

.pagination {
    padding: 16px 0;
}
.pagination__button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 3px;
}

.pagination__button:hover, .pagination__button--active  {
    background: black;
    color: white;
}

.content-row {
    padding: 24px;
    position: relative;
    margin-bottom: 10%;
}

.content-row--right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

.content-row--left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}
.line {
    width: 10%;
    background-color: black;
    margin-bottom: 0;
}

.empty-end {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.empty-start {
        width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.join-now {
    padding: 12px 24px;
    background-color: yellow;
    width: fit-content;
    margin-top: 24px;
}